<!DOCTYPE html>
<html>
	<head>

		<title> New Post </title>
        <meta charset="utf-8">
		        
		<!-- CSS -->
		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href="../static/css/style.css" rel="stylesheet">
		<link href="../static/css/fonts.css" rel="stylesheet">
		    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/clean-blog.css" rel="stylesheet">
		
		<!-- JS loading in footer -->

    </head>

	<body class="yin">
	<section>
			<form name="sentMessage" >
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <input name ="title" type="text" class="form-control" placeholder="title" id="name" required data-validation-required-message="enter valid title">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <textarea name="text" rows="12" class="form-control" placeholder="Text" id="text" required data-validation-required-message="enter valid message."></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
		</section>
		</form>

		<!-- JS -->
		<script type="text/javascript">
			// Load required scripts.	
			head.js( 
				"../static/js/zenpen/utils.js",
				"../static/js/zenpen/ui.js",
				"../static/js/zenpen/editor.js",
	        	function(){
	            	
	            	// Initiate ZenPen
	            	editor.init();
	    			ui.init();
	            }
	        );
	        
	    </script>
    
         <!-- jQuery -->
    
<script src="../static/js/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/clean-blog.js"></script>
    
    
    <script>
       
		//SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		$(document).ready(function () {
			
			$(function() {
				$('#submit').bind('click', function() {
					$.getJSON(SCRIPT_ROOT + '/_add_post', {
					title: $('input[name="title"]').val(),
					text: $('input[name="text"]').val()
				}, function(data) {
					alert("post submitted");
				});
				return false;
				});
		  });
		});
    </script>
	</body>
</html>
